src/main/resources/module/wxService/wx-reply.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://raw.githubusercontent.com/wonder-sy0618/module-wx-service/"
xmlns="https://raw.githubusercontent.com/wonder-sy0618/module-wx-service/"
elementFormDefault="qualified">

	<xs:element name="note">
	    <xs:complexType>
	      <xs:sequence>
			<xs:element name="to" type="xs:string"/>
			<xs:element name="from" type="xs:string"/>
			<xs:element name="heading" type="xs:string"/>
			<xs:element name="body" type="xs:string"/>
	      </xs:sequence>
	    </xs:complexType>
	</xs:element>

</xs:schema>